@page
@model Frontend.Pages.EditEmpleadoModel
@{
}
<h1> Agregar Empleado Nuevo </h1>
<form method="post" class="mt-3">
    <input hidden asp-for="empleado.Id" />
    <div class="form-group row">
        <label asp-for="empleado.Nombre" class="col-sm-2"> Nombre Completo </label>
        <input asp-for="empleado.Nombre" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Edad" class="col-sm-2"> Edad </label>
        <input asp-for="empleado.Edad" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Documento" class="col-sm-2"> Documento Identidad </label>
        <input asp-for="empleado.Documento" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Telefono" class="col-sm-2"> Telefono Contacto </label>
        <input asp-for="empleado.Telefono" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.CorreoElectronico" class="col-sm-2"> Correo Electrónico </label>
        <input asp-for="empleado.CorreoElectronico" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Cargo" class="col-sm-2"> Cargo </label>
        <input asp-for="empleado.Cargo" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Horario" class="col-sm-2"> Horario </label>
        <input asp-for="empleado.Horario" class="form-control"  required>
    </div>
    <div class="form-group row">
        <label asp-for="empleado.Sueldo" class="col-sm-2"> Sueldo </label>
        <input asp-for="empleado.Sueldo" class="form-control"  required>
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary"> Guardar </button>
        <a asp-page="./List" class="btn btn-primary"> Cancelar </a>
    </div>
</form>
